<article class="container border bg-light rounded p-2 my-2">
    <section class="text-center">
      <h1 id="nombre"> {{persona.nombre}} {{persona.apellido}}</h1>
      <p>Full Stack Developer</p>
    </section>
    <section class="d-flex my-2 p-2 container justify-content-between">
      <div>
        <img class="x-2" src="../assets/Placa.png" style="width: 200px;" />
        <button><img src="../assets/edit.svg" class="icon btn-edit" /></button>
      </div>
      <div class="d-flex">
        <p class="text-start mx-2">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis maxime
          sapiente impedit, dolor quae tempore in culpa commodi officia numquam
          accusantium, blanditiis nam, eos velit illum magnam harum dignissimos
          ratione.
        </p>
        <button>
          <img src="../assets/edit.svg" class="icon btn-edit" />
        </button>
      </div>
    </section>
    <div class='icon-scroll'></div>
  </article>