<div class="border bg-light rounded p-2 mb-4 skills">
    <div class="d-flex justify-content-between">
      <h2>Proyectos</h2>
      <button><img src="../assets/edit.svg" class="icon btn-edit" /></button>
    </div>
    <div class="d-block">
      <div class="px-4 d-flex justify-content-center mb-3">
        <div class="d-flex justify-content-around w-100">
          <div class="text-start">
            <h5 class="text-primary">e-Farmacia</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam
              nobis est consequuntur. Sunt fugit ut facere perferendis
              perspiciatis. Ipsum, quos.
            </p>
          </div>
          <button>
            <img src="../assets/edit.svg" class="icon btn-edit" />
          </button>
          <button>
            <img src="../assets/delete.svg" class="icon btn-delete" />
          </button>
        </div>
      </div>
    </div>
  </div>